# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
backend/.venv/
.venv/
env/
*.db
*.sqlite3

# Node
node_modules/
frontend/node_modules/
frontend/dist/
.DS_Store

# Logs & Environment
*.log
.env
.agent
.agents
.impeccable
